<script>
    $(function() {
        $( "#tabs" ).tabs();
        $( "#tabs2" ).tabs();
    });
</script>

<h3>Technology Section</h3>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Web</a></li>
        <li><a href="#tabs-2">Mobile</a></li>
        <li><a href="#tabs-3">Big Data</a></li>
    </ul>
    <div id="tabs-1">
        <form>
            <div class="form-group">
                <input ng-model="searchWebDevelopment.$" type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <table class="table table-striped">

            <tr>
                <th>Name</th>
                <th>Course Provider</th>
                <th>Category</th>
                <th>Sub-Category</th>
            </tr>
            <tr ng-repeat = " data in subcategories.webDevelopment.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:searchWebDevelopment">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td>{{data.category}}</td>
                <td>{{data.subcategory}}</td>
            </tr>
            <uib-pagination total-items="totalItemsWebDevelopment" ng-model="currentPage"></uib-pagination>
        </table>
    </div>
    <div id="tabs-2">
        <form>
            <div class="form-group">
                <input ng-model="searchMobileDevelopment.$" type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Course Provider</th>
                <th>Category</th>
                <th>Sub-Category</th>
            </tr>
            <tr ng-repeat = " data in subcategories.mobileDevelopment.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:searchMobileDevelopment">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td>{{data.category}}</td>
                <td>{{data.subcategory}}</td>
            </tr>
            <uib-pagination total-items="totalItemsMobileDevelopment" ng-model="currentPage"></uib-pagination>
        </table>
    </div>
    <div id="tabs-3">
        <form>
            <div class="form-group">
                <input ng-model="searchBigData.$" type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Course Provider</th>
                <th>Category</th>
                <th>Sub-Category</th>
            </tr>
            <tr ng-repeat = " data in subcategories.bigData.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:searchBigData">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td>{{data.category}}</td>
                <td>{{data.subcategory}}</td>
            </tr>
            <uib-pagination total-items="totalItemsBigData" ng-model="currentPage"></uib-pagination>
        </table>
    </div>
</div>

<h3>Business Section</h3>
<div id="tabs2">
    <ul>
        <li><a href="#tabs-4">Finance</a></li>
        <li><a href="#tabs-5">Accouting</a></li>
        <li><a href="#tabs-6">Marketing</a></li>
    </ul>
    <div id="tabs-4">
        <form>
            <div class="form-group">
                <input ng-model="searchFinance.$" type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Course Provider</th>
                <th>Category</th>
                <th>Sub-Category</th>
            </tr>
            <tr ng-repeat = " data in subcategories.finance.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchFinance">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td>{{data.category}}</td>
                <td>{{data.subcategory}}</td>
            </tr>
            <uib-pagination total-items="totalItemsFinance" ng-model="currentPage"></uib-pagination>
        </table>
    </div>
    <div id="tabs-5">
        <form>
            <div class="form-group">
                <input ng-model="searchAccounting.$" type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Course Provider</th>
                <th>Category</th>
                <th>Sub-Category</th>
            </tr>
            <tr ng-repeat = " data in subcategories.accounting.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))| filter:searchAccounting">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td>{{data.category}}</td>
                <td>{{data.subcategory}}</td>
            </tr>
            <uib-pagination total-items="totalItemsAccounting" ng-model="currentPage"></uib-pagination>
        </table>
    </div>
    <div id="tabs-6">
        <form>
            <div class="form-group">
                <input ng-model="searchMarketing.$" type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Course Provider</th>
                <th>Category</th>
                <th>Sub-Category</th>
            </tr>
            <tr ng-repeat = " data in subcategories.marketing.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchMarketing">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td>{{data.category}}</td>
                <td>{{data.subcategory}}</td>
            </tr>
            <uib-pagination total-items="totalItemsMarketing" ng-model="currentPage"></uib-pagination>
        </table>
    </div>
</div>