<script>
    $(function() {
        $( "#tabs" ).tabs();
        $( "#tabs2" ).tabs();
    });
</script>

<h3>Technology Section</h3>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Web</a></li>
        <li><a href="#tabs-2">Mobile</a></li>
        <li><a href="#tabs-3">Big Data</a></li>
    </ul>
    <div id="tabs-1">
        <table class="table table-striped">

            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat = " data in webdevelopment">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td><button class="btn btn-danger">Delete Course</button></td>
            </tr>

        </table>
    </div>
    <div id="tabs-2">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat = " data in mobiledevelopment">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td><button class="btn btn-danger">Delete Course</button></td>
            </tr>
        </table>
    </div>
    <div id="tabs-3">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat = " data in bigdata">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td><button class="btn btn-danger">Delete Course</button></td>
            </tr>
        </table>
    </div>
</div>

<h3>Business Section</h3>
<div id="tabs2">
    <ul>
        <li><a href="#tabs-4">Finance</a></li>
        <li><a href="#tabs-5">Accouting</a></li>
    </ul>
    <div id="tabs-4">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat = " data in finance">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td><button class="btn btn-danger">Delete Course</button></td>
            </tr>

        </table>
    </div>
    <div id="tabs-5">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat = " data in accounting">
                <td>{{data.name}}</td>
                <td>{{data.website}}</td>
                <td><button class="btn btn-danger">Delete Course</button></td>
            </tr>
        </table>
    </div>
</div>